@import './variables.less';
@import './colors.less';
@import './mixins.less';

@import './order.less';
@import './order-list.less';
@import './cart-summary.less';
@import './cart.less';

body {
    line-height: 1;
    text-align: center;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.spinner {
    i {
        animation: spin 1s linear infinite;
    }
}
